<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="0">
    <test verbose="2" preserve-order="true" name="/Users/nagarajans/Documents/Automation/SwapaWorkbook">
        <classes>
            <class name="com.test.pilotPollingFormTest">
                <methods>
                    <include name="loginToSwapaApp"/>
                    <include name="navigateToPilotPoling"/>
                    <include name="fillPilotPollingForm"/>
                </methods>
            </class>
            <class name="com.test.disabilityCalculatorTest">
                <methods>
                    <include name="navigateToDisabilityCalculator"/>
                    <include name="validateMonthlyMbe"/>
                    <include name="validateSickBankTpf"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>